

.fotos{
    display: inline-flex;

    background: darkgray;
}

.imeg{
    width: 100%;
    height: 100%;
}
.teg{
    position: absolute;
    color: black;
    margin-top: 800px;
    margin-left: 100px ;
}


.seg_lag{
    position: absolute;
    color: black;

}

.ter{
    display: flex;

}

.size{
 width: 40%;
    height: 40%;
    margin-top: 50px;
    margin-bottom: 50px;

}

.otss{
    margin-top: 120px;
    margin-left: 100px;
}